.jumbotron {
    margin-left: 25px;  
    margin-right: 25px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(18, 18, 92) !important;;
    color: white;
}


.container{ 
     margin-left: 10px; 
     margin-right:10px;
 }  

.no-bullets {
    list-style-type: none;
}

.row1 {
    background-color: lightslategrey;
}